.form_click{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.form_click button{
    background-color:#1481ed;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: medium;
    width:8rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
 cursor: pointer;
  align-items: center;
  gap: 5px; 
}

.arrow span {
  display: block;
  cursor: pointer;
  width: 10px;
  height: 20px;
  border-top: 5px solid #1481ed;
  border-left: 5px solid #1481ed;
  transform: rotate(-135deg);
  animation: popEffect 1.5s infinite ease-in-out;
  opacity: 0;
}

.arrow span:nth-child(2) {
  animation-delay: 0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes popEffect {
  0%, 100% {
      opacity: 0;
      transform: scale(0.8) rotate(-135deg);
  }
  50% {
      opacity: 1;
      transform: scale(1.2) rotate(-135deg);
  }
}


body {
    width: 89vw;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 10px;
  }
  input {
    border: none;
    border-bottom: 0.2em solid #9044fa;
    border-radius: 0.2em;
    padding: 5px 10px 5px 3px;
  }
  
  select {
    border: none;
    border-bottom: 0.2em solid #9044fa;
    border-radius: 0.2em;
    padding: 5px 10px 5px 0px;
  }
  
  .heading {
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    
  }
  .container .fill_form{
    width:98%;
  }
  
  .bodyContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .containerOptions {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    background: #fefdff;
    padding: 15px;
    width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .viewMore :hover{
    color: #393838;
    
  }
  
   a.my-button {
    background-color:#1481ed;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 9px 20px;
    border: 0px solid #000000;
    border-radius: 8px;
    display: inline-block;
  }
  a.my-button:hover {
     background-color: #125aa2;
  }
  a.my-button:active {
   background-color: #003f7f;
    transform: scale(1.01);
  } 
  
  .success {
    background: #15c447 !important;
  }
  
  .flex-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .flex-row .form-group {
    flex: 0.4; 
    margin-right: 20px; 
  }
  
  .options {
    font-size: 18px;
  }
  .fill_form a{
    font-size:medium;
  }



.switch {
  position: relative;
  display: inline-block;
  width: 40px; 
  height: 24px; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; 
  width: 18px; 
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(18px); 
}

.toggle_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px; 
}

.toggle_button p{
  font-size: medium;
  color: #252525;
  font-family: Arial, sans-serif;
}

  /* Footer CSS */
  .footer {
    width: 100%;
   
    margin-top: 20px;
    padding: 10px 0;
    background-color: #2e677f;
    text-align: center;
    border-top: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .footer_small {
    display: flex;
    justify-content: center;
    gap: 23px;
  }
  
  .footer-link {
    color: white;
    font-size: medium;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.2s;
    
  }
  
  .footer-link:hover {
    color: #c7cbd0; 
    text-decoration: underline;
  }
  
  
